<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.erly.pmss"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.5.0" />

        <name>pmss</name>

        <description>
        	Progressed Moon Sabian Symbol
        </description>

        <author href="http://www.scripts.stcisz.net/pmss" email="stcisz@gmail.com">
        	Stanisław Ciszewski
        </author>
        
        <preference name="Orientation" value="landscape"/>
        <preference name="permissions" value="none"/>
        
        <icon src="icon.png"/>

    </widget>
    
